* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Background */

.gamePole {
    /* background-color: rgb(179, 179, 179); */
    background-color: rgb(19, 18, 18);
}

/* Heading */

.heading {
    color: white;
}

/* Container and two parts of a center container */

.mainCont {
    box-shadow: 0px 0px 20px 5px gray;

}

.centerPoleParam {
    box-shadow: 3px 3px 10px 2px gray;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.centerPoleCanvas {
    box-shadow: 3px 3px 10px 2px gray;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    /* background-color: rgb(248, 239, 158); */
} 


@media (max-width: 767px) { 
    .centerPoleParam, .centerPoleCanvas   {
        box-shadow: 2px 2px 10px 2px gray;
        border-radius: 10px;
    }
}

.mainCont {
    border-radius: 10px;
}

/* Canvas */

.canvasPict {
    /* background-color: black; */
    background: url("../img/bg_Canvas.jpg") no-repeat center / cover;
    min-width: 100px;
    width: 100%;
    height: 650px;
}

/* Params */

.params {
    padding: 15px;
    background-color: white;
}

.dynamicParam {
    font-weight: bold;
}

/* Buttons */

.btn-start {
    width: 100%;
    height: 100%;
    font-size: 23px;
    padding: 0;
    margin: 0;
}

#startButton:hover {
    background-color: white;
    color:  #0d6efd;
}

#petrolButton.active {
    box-shadow: 3px 3px 10px 2px #0d6efd;
}

#reloadButton:focus {
    box-shadow: 3px 3px 10px 2px rgba(13,110,253,.7);
}

/* For Vue */

[v-cloak] {
    display: none;
}
  
